.bg-tab {
    background-image: url(../../src/img/background.jpeg); 
    /* background-repeat: repeat;
    position: fixed;
    background-attachment: fixed;
    background-size: 1800px 900px;
    height: 1500px; */
    background-size: 100% 100%;
    height: 100vh;
}
/* .GeeksForGeeks {
    background-image: 
    url("../../src/img/violet.jpeg");
    background-size: "cover";
    height: 100vh;
    margin-top: -70px;
    font-size:50px;
    background-repeat:no-repeat; 
  } */
/* #lol {
    background-image: url(../../src/img/violet.jpeg);
    background-repeat: repeat;
    position: fixed;
    background-attachment: fixed;
    background-size: 1800px 900px;
    opacity: 1.0;
} */
.main-page {
    color: rgb(0, 0, 0);
    margin: 20px 150px;
    border: 5px black;
    display: block;
}
#point {
    font-size: 18px;
}
#profile{
    position: initial;
    margin: -105px 20px;
    display: block;
}
.tab {
    display: grid;
    margin: 200px 20px;
    
}
#bg-tab {
    /*margin: 200px 20px;*/
    /*grid-template-rows: 100px 50px;*/
    position: fixed;
}
#treasury {
    /*grid-template-rows: 100px 50px;*/
    margin: 65px 25px;
    position: fixed;
}
#history {
    /*grid-template-rows: 100px 50px;*/
    margin: 165px 25px;
    position: fixed;
}
#setting {
    margin: 265px 25px;
    position: fixed;
}
#log-out {
    margin: 365px 25px;
    position: fixed;
}
.tab-text {
    margin: 140px 25px;
    position: fixed;
}
#treasury-text {
    /*grid-template-rows: 100px 50px;*/
    margin: 125px 35px;
}
#history-text {
    /*grid-template-rows: 100px 50px;*/
    margin: 225px 30px;
}
#setting-text {
    margin: 325px 35px;
}
#log-out-text {
    margin: 425px 10px;
}
.center {
    position: fixed;
    position: relative;
}/*
#play {
    margin:300px 400px ;
}
#add {
    margin:000px -350px;
}
#test {
    margin: 0px -170px;
}*/